<!-- Display search results  -->
<!DOCTYPE html>
<html lang="en">
	<html lang="en">
		<head>
			<meta charset="UTF-8" />
			<meta
				name="viewport"
				content="width=device-width, initial-scale=1.0"
			/>
			<title>Search Results</title>
			<link
				rel="stylesheet"
				href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
				integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
				crossorigin="anonymous"
			/>
			<link rel="stylesheet" type="text/css" href="/styles/main.css" />
		</head>
		<body>
			<%- include ('partials/navbar') %>
			<h1>Search Results for "<%= query %>"</h1>

			<% if (movies.length > 0) { %>
			<div class="container">
				<div class="row">
					<% movies.forEach(movie => { %>
					<div class="col-12 col-md-3 mb-4">
						<div class="card">
							<% if (movie.poster_path) { %>
							<img
								src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>"
								class="card-img-top"
								alt="<%= movie.title %> Poster"
							/>
							<% } else { %>
							<div class="card-body">
								<p class="card-text">No poster available</p>
							</div>
							<% } %>
							<div class="card-body">
								<h5 class="card-title">
									<%= movie.title %> (<%= movie.release_date ?
									movie.release_date.split('-')[0] : 'N/A' %>)
								</h5>
							</div>
							<% if(user) { %>
							<div class="card-footer text-center">
								<form
									action="/add"
									method="POST"
									style="display: inline"
								>
									<input
										type="hidden"
										name="movieId"
										value="<%= movie.id %>"
									/>
									<input
										type="hidden"
										name="title"
										value="<%= movie.title %>"
									/>
									<input
										type="hidden"
										name="poster_path"
										value="<%= movie.poster_path %>"
									/>
									<input
										type="hidden"
										name="release_date"
										value="<%= movie.release_date %>"
									/>
									<button
										type="submit"
										class="btn ml-auto btn-success"
									>
										Add to My List
									</button>
								</form>
							</div>
							<% } else { %>
							<p>Sign in to add to your list</p>
							<% } %>
						</div>
					</div>
					<% }) %>
				</div>
			</div>
			<% } else { %>
			<p>No movies found. Try a different search.</p>
			<% } %>

			<a href="/">Go back to Home</a>
		</body>
	</html>
</html>
